@import "tailwindcss";

@layer base {
  html, body {
    @apply min-h-full;
    overscroll-behavior-y: contain;
  }
  
  #root {
    @apply min-h-full flex flex-col;
  }
}

/* Custom scrollbar for lobby */
.custom-scrollbar {
  -webkit-overflow-scrolling: touch;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-sky-200 rounded-full;
}
